.header-wrap{
  overflow:hidden;
  background-color: $main_txt;
}

.header-inside{
  margin:0 auto;
  width:100%;
  text-align: center;
  position:relative;
}

.header{
  background-image: url('hollywood-sign.jpg');
  opacity: 0.8;
  //parallax scrolling #383737
  background-attachment: fixed;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // slanting picture
  width:110%;
  top:-5%;
  left:-5%;
  transform:rotate(2deg);

  // slanting
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
}

  .header:after {
    position:absolute;
    content: " ";
    display:block;
    left:0;
    bottom:-20px;
    width:110%;
    border-style: solid;
    border-width: 0 100vw 20px 0;
    border-color: transparent rgba(0,0,0,0.4) transparent transparent;
}

.header-info{
    position: absolute;
    display:block;
    top: 2%;
    left: 25%;
    color: white;
    padding-top: 120px;
    margin: 0 auto;
    z-index: 31;
    text-align: left;
  // counter the slanting picture
  //transform:rotate(-2deg);
  //margin: 0 auto;
}
  #main_title{
    font-size: 75px;
    padding-bottom:5px;
  }

  #main_tagline{
    margin-bottom:40px
  }

/////fadein effect

.hideme
{
  opacity:0;
}









