

#backgroundpic{
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixbackground{
  opacity: 0.95;
  width:100%;
}

.info_card{
  padding-top:150px;
}

.form_card{
  padding-bottom: 150px;
}
