<!-- what we need to do on this page

1 -list all animals in <div class="card"></div>div> (code located in assets/stylesheets/_card.scss)
2 -each card should contain a button that redirects to a animals/:id  -->
