<!-- Pseudo code:

1- button to add pictures and chosing primary picture
2- form to submit name/type/description/price
3_ Submit button that redirects to bookings/index -->

<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="animal-form">
        <h1 class="page_header">Add a new Animal</h1>
        <div class="mt-3">
          <%= render 'form', animal: @animal %>
        </div>
      </div>
    </div>
  </div>
</div>



