.host-btn {
  border: solid 2px $highlight;
  padding: 5px;
  border-radius: 6px;
  color: $highlight;
  font-size: 16px;
}

  .host-btn:hover {
    padding: 5px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    background-color: $highlight;
  }

.add-btn{
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  border: solid 2px $main_txt;
  background-color: $main_txt;
}

  .add-btn:hover{
    padding: 5px;
    border-radius: 6px;
    color: $main_txt;
    font-size: 16px;
    background-color: #fff;
    text-decoration: none;
  }

.remove-btn{
  padding: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  border: solid 2px $accent;
  background-color: $accent;
}

  .remove-btn:hover{
    padding: 5px;
    border-radius: 6px;
    color: $accent;
    font-size: 16px;
    background-color: #fff;
    text-decoration: none;
  }


.action input[type=text] {
  background-color: transparent;
  //background-image: url('find.png');
  //background-position: 10px 10px;
  //background-repeat: no-repeat;
  //background-attachment:cover;
  border-radius:25px;
  height:55px;
  width:180px;
  text-decoration:none;
  border: solid 4px $highlight;
  color: $highlight;
  padding:11px;
  font-size:25px;
}
  .action input::placeholder {
  color: $highlight;
}
  .action input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

.rent-btn{
  padding:11px;
  border-radius: 25px;
  color: $highlight;
  font-size: 16px;
  border: solid 2px $accent;
  background-color: $accent;
  height:100%;
}

  .rent-btn:hover{
    padding: 11px;
    border-radius: 25px;
    color: $accent;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
  }










