$main_txt:#4f9da6;
$txt: #233142;
$highlight:#facf5a;
$accent:#ff5959;

.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
  position:fixed;
  top: 0 ;
  width: 100%;
  z-index: 999;
}

.navbar-lewagon .brand {
  width: 40px;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: main_txt;
}
.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
  color: txt;
  text-decoration: none;
}


.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 24px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(79, 157, 166,0.5);
  border: white 1px solid;
}
